<div growl></div>
<div class="jumbotron">
  <h1>Contact</h1>
  <p class="lead">
    <img src="images/logo.png" height="90px" alt="I'm developer"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>
{{messages}}
<h4 ng-repeat="message in messages">{{message}}</h4>  

<form id="chat-form" style="margin:10px;" ng-submit="sendMessage()">
    <input id="message-textbox" ng-model="message" autocomplete="off" /><button style="margin-left:10px;">Send message</button>
</form>


<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
